.single-quote {


    --text-margin: 2rem 0rem;
    --text-padding: 0rem;
    --text-background-colour: transparent;
    --text-text-colour: inherit;
    --text-column-size: 1;
    --text-text-align: left;

    $this: &;

    background: var(--text-background-colour);
    color: var(--text-text-colour);
    margin: var(--text-margin);
    text-align: var(--text-text-align);

    padding: var(--text-padding);

    @include mq($until: large) {
        padding: 1rem 0;
    }

    &__inner {
        @include align-width--l;
        background-color: var(--color--pink);
        border-radius: 30px;
        display: flex;
        position: relative;
        height: 35em;

        @include mq($until: large) {
            flex-direction: column;
            justify-content: center;
            height: auto;


        }





        &::before {
            content: '';
            background: url('/wp-content/themes/reach/assets/images/opening-quote.svg');
            height: 15em;
            width: 15em;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: 20px;

            @include mq($until: large) {
                display: none;
            }
        }
    }

    &__image {
        width: 50%;
        position: relative;

        img {
            position: absolute;
            bottom: 0;
        }

        @include mq($until: large) {
            display: none;

            img {
                top: 0;
                bottom: unset;
            }

        }
    }

    &__content {
        padding: 2em;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9;

        @include mq($until: large) {
            width: 100%;
            text-align: center;
            justify-content: center;
        }
    }

    &__title {
        h3 {
            font-size: 48px;
            font-family: var(--type--1--font-family);

            @include mq($until: large) {
                font-size: 32px;
            }
        }

    }

    &__text {
        p {
            margin: 0;
            font-size: 16px;
        }

    }

}