// @import 'swiper/css';
//  @import 'swiper/css/navigation';
// @import 'swiper/css/pagination';

@import 'swiper/swiper.min';
@import 'swiper/modules/navigation';
@import 'swiper/modules/scrollbar';


.slider {
    --text-margin: 2rem 0rem;
    --text-padding: 0rem;
    --text-background-colour: transparent;
    --text-text-colour: inherit;
    --text-column-size: 1;
    --text-text-align: left;

    $this: &;

    background: var(--text-background-colour);
    color: var(--text-text-colour);
    margin: var(--text-margin);
    text-align: var(--text-text-align);



    &__inner {
        @include align-width--l;
        z-index: 8;
        position: relative;


        @include mq($until: large) {
            padding-top: 4em;
            padding-bottom: 2em;
        }


        padding: var(--text-padding);
    }


    &__top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        @include mq($until: large) {
            flex-direction: column;
            align-items: flex-start;
        }


        h2{
            font-size: 40px;
            font-family: var(--type--1--font-family);
            margin-top:0px;
            margin-bottom: 0px;
        }

        a{
            color: #5C5C5C;
            &::after{
                
                    content: "";
                    display: inline-flex;
                    height: 20px;
                    width: 20px;
                    background-repeat: no-repeat;
                    background-image: url('/wp-content/themes/reach/_src/images/arrow-right.svg');
                    top: 10px;
                    color: #5C5C5C;
                    position: relative; 
                    margin-left: 10px;
         }
    }

    }

    &__navigation{
            margin-left: -15px;
            margin-right: -15px;

            display: flex;
            gap: 10px;
            position: relative;
            top: 250px;
            justify-content: space-between;
            z-index: 99999;
            gap: 10px;
        svg{
            width: 40px;
            cursor: pointer;
        }
    }


    .slider__swiper_inner{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper {
        cursor: pointer;
    }

    // Review Card

    .review-card {
        background-color: #FEECE9;
        padding: 30px;
        border-radius: 20px;
        border: 1px solid #FCC7BC;
        width: 320px !important;
        height: 400px!important;
    }

    .swiper_inner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .profile-photo{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 10px 0;
        }

        .author_date{
            margin: 5px 0;
            font-size: 15px;
        }

        .author_name{
            margin: 5px 0;
            font-size: 20px;
            font-weight: bold;
        }

        .review-text{
            text-align: center;
            margin: 5px 0;
        }
    
        .google-icon{
            width: 40px;
            height: 40px;   
            margin: 10px 0;
        }

        .rating{
            margin: 5px 0;
        }
    
    }

    // Post Card

    .post-card{
        padding: 0px;
        border-radius: 20px;
        background-color: var(--color--white);
        width: 320px !important;
    }


    .swiper_inner--post{
        display: flex;
        justify-content: center;
        flex-direction: column;

        .post-image-container{
           position: relative;
        }

        .post-image{
            width: 100%;
            height: 200px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            object-fit: cover;
        }

        .post-category{
            background-color: var(--color--blue);
            border-radius:90px;
            position: absolute;
            bottom: 10px;
            left: 10px;
            padding: 2px 7px;
    
        }

        .post-content{
            padding: 20px;
            height: 200px;
        }

        .post_title{
            font-size: 20px;
            font-weight: 600;
            margin-top: 0px;
            margin-bottom: 40px;
            font-family: var(--type--1--font-family);
            line-height: 25px;
            max-width: 200px;

        }

        .post_date:before{
            content: " ";
            display: inline-flex;
            height: 30px;
            width: 30px;
            background-repeat: no-repeat;
            background-image: url('/wp-content/themes/reach/_src/images/calendar.svg');
            top: 15px;
            position: relative;
        }

        .post_date{
            margin-top: 0px;
            margin-bottom: 10px;
            color: #DEDEDE;
            font-family: var(--type--1--font-family);
        }

        .post_link:before{
            content: "";
            display: inline-flex;
            height: 20px;
            width: 20px;
            background-repeat: no-repeat;
            background-image: url('/wp-content/themes/reach/_src/images/arrow-right.svg');
            top: 10px;
            position: relative; 
        }

        .post_link{
            text-decoration: none;
            color: #5C5C5C;
            font-weight: 600;
            font-family: var(--type--1--font-family);

        }

    
    }






  


    @media screen and (max-width: 992px) {

        #card {
            width: 300px !important;
        }

        article {
            width: 300px !important;
        }

    }





    &.break-slider-container {

        overflow: hidden;


        .swiper {
            overflow: visible;
        }
    }

    .swiper-button-disabled {
        opacity: 0.5;
    }

    .swiper-scrollbar-horizontal {

        position: relative;
        margin-top: 40px;
        height: unset;

        .swiper-scrollbar-drag {
            height: 10px;
            background-color: #F7934C;
        }



    }




    @media screen and (max-width: 992px) {


        #card {
            width: 250px !important;
        }

        article {
            width: 250px !important;
        }

        .slider .custom-home-width {
            width: 300px !important;
        }


        &__header-container {
            flex-direction: column-reverse;

        }

        &__navigation-container {
            margin-bottom: 20px;
            align-self: center;

        }

    }
}