.megamenu {
    @include mq($until: large) {
        width: 100%;
        margin-top: 20px;
    }

    &__inner {
        display: flex;
        align-items: center;

        &__toplevel {
            display: flex;
            gap: 3rem;
            align-items: center;

            @include mq($until: large) {
                flex-direction: column;
            }
        }
    }

    .top-level-mega {
        @include mq($until: large) {
            font-size: 3rem !important;
        }
    }


    a {
        z-index: 7;
        text-decoration: none;
        color:  var(--color--black) !important;
        font-weight: 600 !important;
        padding: 0.6rem 0;
        border-bottom: 2px solid transparent;

        @include mq($until: 'site-header') {
            font-size: 1rem !important;
            color: #044961 !important;
        }
    }

    /* General styling for the orange bar (applies to either active state) */
    .active.top-level-mega::after {
        background-image: url(images/line.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        content: "";
        display: block;
        height: 12px;
        position: absolute;
        width: 120px;
        z-index: 9;
        top: 128px;
        /* Adjust based on your layout */
        margin-left: -11px;

        @include mq($until: 'site-header') {
            display: none;
        }
    }

    /* Position the bar when the first <a> tag is active */
    .mega-menu a:first-of-type.active.top-level-mega::after {
        left: 725px;
        /* Adjust as needed */
    }

    /* Position the bar when the second <a> tag is active */
    .mega-menu a:nth-of-type(2).active.top-level-mega::after {
        left: 500px;
        /* Adjust as needed */
    }


    .has-children{
        display: inline-flex;
        padding: 10px;
    }




    
    .has-children.active::before {
        content: "";
        background-color: var(--color--green);
        border-radius: 10px;
        position: absolute;
        top: calc(100% + 10px); /* Position below the .has-children element */
        left: 0; /* Align with the left edge of the .has-children element */
        width: 200px; /* Adjust width as needed */
        height: 80px; /* Adjust height as needed */
        z-index: -1; /* Ensure it appears behind the content */
    }
  

    .has-children::after{
        content: "";
        background-image: url('images/icons/arrow-down.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        position: relative;
        width: 12px;
        height: 12px;
        cursor: pointer;
        z-index: 9;
        margin-left: 15px;
        margin-top: 17px;
        @include mq($until: large) {
            display: none;
        }
    }



    .has-children.active::after {
       rotate: 180deg;
    }


    .megamenu-child {
        visibility: hidden;
        opacity: 0;
        height: 0px;
        transition: opacity 0.3s linear;
        color: #000;
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0;
        background-color: var(--color--green);
        z-index: 9999;

        @include mq($until: large) {
            visibility: visible;
            opacity: 1;
            height: fit-content;
            position: static;
            border-top: none;
        }

        a {
            color: #044961 !important;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            height: fit-content;
            top: 187px;

            .megamenu-child__child__grandchildren {
                visibility: visible;
                height: fit-content;
                position: static;
                opacity: 1;
            }
        }

        &__inner {
            margin-left: auto;
            margin-right: auto;
            max-width: var(--width--responsive--l);
            padding: 2rem 0;

            @include mq($until: large) {
                padding: 0;
                margin-right: 0px;
                margin-left: 20px !important;
            }
        }

        &__children {
            display: flex;
            gap: 2rem;

            @include mq($until: large) {
                flex-direction: column;
                gap: 0rem;
            }
        }

        &__child {
            width: 25%;
            z-index: 9;
            position: relative;

            @include mq($until: large) {
                width: 100%;
                display: none;
            }

            &__header-wrap {
                display: flex;
                justify-content: space-between;

                &.active {
                    .megamenu-child__child__header__toggle {
                        transform: rotate(45deg);
                    }

                    .megamenu-child__children {
                        padding-top: 1rem;
                    }

                    +.megamenu-child {
                        display: block;

                        .megamenu-child__child {
                            display: block;
                        }
                    }
                }
            }

            .full-width.first-child{
                font-size: 25px;
            }

            &__header {
                font-size: 16px;
                padding: 0.4rem 0;
                display: block;

                @include mq($until: large) {
                    margin-bottom: 0.4rem;
                    border-bottom: none;
                }

                &.full-width {
                    width: 100%;
                }

                &__toggle {
                    display: none;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-weight: 400;
                    height: 2rem;
                    width: 2rem;
                    border-radius: 100%;
                    transition: transform 0.3s linear;
                    background: #044961;
                    font-size: 1.4rem;
                    cursor: pointer;

                    @include mq($until: large) {
                        display: flex;
                    }
                }
            }

            &__grandchildren {
                display: flex;
                flex-direction: column;
                gap: 0rem;
                border-top: none;

                @include mq($until: large) {
                    padding-left: 1rem;

                }

                a {
                    @include mq($until: large) {
                        font-weight: 200 !important;
                    }
                }
            }
        }

        .megamenu-child__child a:not(.first-child)::before {
            content: "";
            background-image: url('/wp-content/themes/reach/_src/images/arrow.svg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            position: absolute;
            width: 30px;
            height: 20px;
            left: -40px;
            margin-top: 3px;
        }






    }
}

.site-header {
    &.active {
        .site-header__bottom {
            display: block !important;
            height: calc(100vh - var(--site-header--height));
            border-top: 2px solid #EAEAEA;
            opacity: 1 !important;
            visibility: visible !important;
            pointer-events: all !important;
        }

        .site-header__inner {
            background: #fff;
        }
    }
}

body.menu-open,
html.menu-open {
    height: 100vh;
    overflow: hidden;
}


@media screen and (max-width: 991px) {

    .megamenu__inner__toplevel {
        display: block !important;
    }

    .megamenu-child__child__header-wrap {
        align-items: center !important;
    }

    .megamenu-child__inner {
        margin-top: 0 !important;
    }

    .megamenu__inner__toplevel {
        width: 100% !important;
    }


    .megamenu__inner__toplevel__item {
        margin-bottom: 20px !important;
    }

    .megamenu-child__child__header.full-width {
        font-size: 20px !important;
        font-weight: 600 !important;
    }

    .megamenu-child__child__header-wrap.active {
        margin-bottom: 10px !important;
    }


    .right-menu-container a {
        color: #044961 !important;
    }

    .right-menu-container {
        flex-direction: row-reverse !important;
        gap: 20px !important;
        justify-content: flex-end !important;
        align-items: center !important;
    }

    .number-header {
        display: none;
    }


/* gonna have to do these custom */

    




}