// Define our font-face stacks here.
@mixin font-variables {
    @font-face {
        font-display: swap;
        font-family: 'Cy Text';
        font-style: normal;
        font-weight: normal;
        src: url('https://use.typekit.net/xzk2eov.css') format('woff2');
    }

}
