.title {

    --text-margin: 2rem 0rem;
    --text-padding: 0rem;
    --text-background-colour: transparent;
    --text-text-colour: inherit;
    --text-column-size: 1;
    --text-text-align: left;

    $this: &;

    background: var(--text-background-colour);
    color: var(--text-text-colour);
    margin: var(--text-margin);
    text-align: var(--text-text-align);


   
    &__inner {
        @include align-width--l;
        text-align: center;
        font-family: var(--type--1--font-family);
        padding: var(--text-padding);
        
        @include mq($until: large) {
           padding-top: 4em;
            padding-bottom:0em;
         }


    }

    &__sub-heading{
        font-size: 24px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-family: var(--type--1--font-family);
    }

    &__heading {
        font-family: var(--type--1--font-family);
        max-width: var(--text-span);
        text-align: center;
        margin: 10px auto;
        word-wrap: break-word;
    }   

    &__description{
        margin-bottom: 0px;
        margin-top: 0px;
        font-family: var(--type--1--font-family);

    }

    &__button{
        margin-top: 50px;
        margin-bottom: 50px;
    }

  
}

