.featured-news-item {

    --text-margin: 2rem 0rem;
    --text-padding: 0rem;
    --text-background-colour: transparent;
    --text-text-colour: inherit;
    --text-column-size: 1;
    --text-text-align: left;

    $this: &;

    background: var(--text-background-colour);
    color: var(--text-text-colour);
    margin: var(--text-margin);
    text-align: var(--text-text-align);
    padding: var(--text-padding);

    @include mq($until: large) {
        padding-top: 2rem!important;
        padding-bottom: 2em;
    }


    &__inner {
        @include align-width--l;
        display: flex;

        @include mq($until: large) {
            flex-direction: column;
         }
    }
    &__image {
       width: 70%;
      

       @include mq($until: large) {
            width: 100%;
         }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            @include mq($until: large) {
            border-top-right-radius: 10px;
            border-bottom-left-radius: 00px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 10px;

            }
     }
    }


    &__content {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 30%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.2rem;
        padding-left: 30px;
        scroll-padding-bottom: 10px;
        padding-bottom: 20px;

        @include mq($until: large) {
            padding-top: 20px;
            width: 100%;    

            border-top-right-radius: 0px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 0px;


         }
    }

    &__category {
       background-color: #CEECF5;
       padding: 0.5rem 1rem;
       border-radius: 40px;

  
        a{
            color: #5C5C5C;
            text-decoration: none;
        }
       
    }

    &__date {
        &::before{
            content: '';
            display: inline-flex;
            width: 20px;
            height: 20px;
            background-image: url('/wp-content/themes/reach/_src/images/calendar.svg');
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
        }

        color: #DEDEDE;
    }

    &__title {


        max-width: 250px;

        h1{
            font-size: 20px;
            font-weight: 600;
            margin: 0;
            font-family: var(--type--1--font-family);
            line-height: 25px;
        }

        a{
            color: #5C5C5C;
            text-decoration: none;
        }
    }

    &__read-more {

        a{
            color: #5C5C5C;
            text-decoration: none;
            font-family: var(--type--1--font-family);
            font-weight: 600;
        }
       
        &:before{
            content: '';
            display: inline-flex;
            width: 20px;
            height: 20px;
            background-image: url('/wp-content/themes/reach/_src/images/arrow-right.svg');
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
            margin-top: 40px;
            top:5px;
            position: relative;
        }
    }
}