@import './menu';

// These are set as SCSS variables so they can be used in the color-context mixin
$site-header--bottom--background: 'brand-1';
$site-header--top--background: 'white';

:root {
    --site-header--bottom: auto;
    --site-header--menu--duration: 250ms;
    --site-header--menu--ease: ease-in-out;

    // Submenu variables
    --submenu--transition-duration: 200ms;
    --submenu--transition-ease: ease-out;

    @include mq('site-header') {
        --submenu--transition-duration: 250ms;
    }
}

.site-header {
    --site-header--height: #{rem(500)};
    --site-header--logo-width: #{rem(500)};

    --site-header--spacing: var(--space--m);

    --site-header--button-size: #{rem(45)};

    --link--color: var(--color--foreground);
    --link--color--hover: var(--color--foreground);

    $this: &;

    z-index: var(--z-index--site-header);
    width: 100%;
    height: var(--site-header--height);
    background-color: var(--color--#{$site-header--bottom--background});
    transition: height var(--site-header--menu--duration) var(--site-header--menu--duration);

    @include mq('site-header') {
        --site-header--spacing: var(--space--l);
        --site-header--logo-width: #{rem(500)};
        --site-header--height: #{rem(74)};
        --site-header--button-size: #{rem(42)};

        background-color: var(--color--white);
    }

    @include mq($until: 'site-header') {
        height: 0px;
        &--positioned {
            position: absolute;

            ~ .site-main {
                margin-top: calc(var(--site-header--bottom));
            }
        }

        &.is-open {
            position: fixed;
            height: calc(100% - var(--wp--admin-bar-height));
            transition: height var(--site-header--menu--duration) 0s;
        }
    }

    &__inner {
   
    }

    &__top-menu {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: min-content auto;

        @include mq('site-header') {
            @include align-width--l;

            gap: var(--site-header--spacing);
            grid-auto-flow: column;
            grid-template-rows: unset;
        }



    }


    &__bottom-menu{
        background-color: var(--color--green-light);
       // display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: min-content auto;
        // padding: 20px;

        // @include mq('site-header') {
        //    // @include align-width--l;

        //     gap: var(--site-header--spacing);
        //     grid-auto-flow: column;
        //     grid-template-rows: unset;
        // }

        @include mq($until: 'site-header'){
            visibility: hidden;
        }
    }

    &__top {
        display: flex;
        height: var(--site-header--height);
        align-items: center;
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);
        background-color: var(--color--#{$site-header--top--background});
        gap: var(--site-header--spacing);
        justify-items: flex-start;

        @include mq($until: 'site-header'){
            height: 120px;
        }

        @include mq('site-header') {
            padding-right: 0;
            padding-left: 0;
            background-color: transparent;
        }

        a{
            font-weight: 600;
            text-decoration: none;
            color: #000;
            transition: all 0.5s ease;

            &:hover{
                text-decoration: underline;
            }
        }



    }

    &__reviews-rating{

        a{
            font-weight: 600;
            text-decoration: none;
            transition: all 0.5s ease;

            &:hover{
                text-decoration: none!important;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        gap: var(--site-header--spacing);
        grid-auto-rows: min-content;
        grid-template-rows: auto;
        padding: 0.5em 0;
        
        @include mq('site-header') {
             @include align-width--l;
 
             gap: var(--site-header--spacing);
             grid-auto-flow: column;
             grid-template-rows: unset;
         }


        @include mq($until: 'site-header') {
            --link--color: var(--color--foreground);
            --link--color--hover: var(--color--foreground);

            height: 0px;

            @include color-context($site-header--bottom--background);

            overflow: auto;
            width: 100%;
            background: transparent;
            grid-auto-flow: row;
            grid-template-columns: min(100%, #{rem(300)});
            opacity: 0;
            pointer-events: none;
            transition: all var(--site-header--menu--duration) var(--site-header--menu--ease);
            visibility: hidden;

            .site-header.is-open & {
                opacity: 1;
                pointer-events: all;
                transition: all var(--site-header--menu--duration) var(--site-header--menu--ease)
                    var(--site-header--menu--duration);
                visibility: visible;
            }

            > * {
                padding-right: var(--space--container-padding);
                padding-left: var(--space--container-padding);
            }

            > *:first-child {
                margin-top: var(--site-header--spacing);
            }

            > *:last-child {
                padding-bottom: var(--site-header--spacing);
            }
        }

        @include mq('site-header') {
            width: auto;
            align-items: center;
            justify-content: flex-start;
            grid-auto-flow: column;
        }

      
    }

    &__bottom__right {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mq($until: 'site-header'){
            flex-direction: column;
            align-items: flex-start;
            margin-top: 15px;
        }
    }


    &__burger {
        --burger--color: var(--color--brand-1);
        --burger--background-color: var(--color--brand-2);
        --burger--border-color: var(--color--brand-2);

        --burger--color--hover: var(--color--brand-2);
        --burger--background-color--hover: var(--color--brand-1);
        --burger--border-color--hover: var(--color--brand-1);

        --burger--size: var(--site-header--button-size);

        flex: 0 0 auto;
        margin-right: calc(var(--burger--padding) * -0.5);

        @include mq('site-header') {
            display: none;
        }
    }

    &__search-toggler {
        --button--color: var(--color--brand-1);
        --button--background-color: transparent;
        --button--border-color: var(--color--brand-1);

        --button--color--hover: var(--color--brand-1);
        --button--background-color--hover: var(--color--brand-2);
        --button--border-color--hover: var(--color--brand-1);

        --focus--color: var(--color--foreground);

        position: relative;

        display: flex;
        width: var(--site-header--button-size);
        height: var(--site-header--button-size);
        flex: 0 0 auto;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        border-radius: 100%;

        &--desktop {
            display: none;

            @include mq('site-header') {
                display: flex;
            }
        }

        &--mobile {
            @include mq('site-header') {
                display: none;
            }
        }

        &::before {
            width: rem(20);
            height: rem(20);
            background: currentColor;
            content: '';
            mask-image: url('./images/icons/search.svg');
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: contain;
        }

        &[aria-expanded='true'] {
            --button--color: var(--color--brand-2);
            --button--background-color: var(--color--brand-1);
            --button--border-color: var(--color--brand-1);

            --button--color--hover: var(--color--brand-2);
            --button--background-color--hover: var(--color--brand-1);
            --button--border-color--hover: var(--color--brand-1);
        }
    }

    &__logo {
        display: flex;
        width: 100%;
       // max-width: var(--site-header--logo-width);
       max-width: 130px;
        height: 100%;
        //max-height: calc(100% - var(--space--s));
        margin-right: auto;

        > * {
            object-fit: contain;
            object-position: left center;
        }
    }

    &__widgets {
        display: flex;
        justify-content: center;
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);
        margin-top: auto;

        @include mq('site-header') {
            display: flex;
            height: 100%;
            flex-flow: row nowrap;
            align-items: center;
            padding-right: 0;
            padding-left: 0;
            margin: 0;
        }
    }

    .header-search {
        --input--color--focus: var(--color--brand-1);
        --input--placeholder-color: hsla(var(--color--brand-1--hsl), 0.8);

        position: absolute;
        top: var(--site-header--bottom);
        right: 0;
        left: 0;
        width: 100%;
    }


    &__reviews-rating{

        @include mq($until: 'site-header') {
            display: none;
        }



        .gmbrr.badge.tiny{
            box-shadow: none;
            padding: 0px;
        }

        .count{
            text-decoration: underline;
        }

        .number{
            display: none;
        }

        .google-icon{
            margin: 0px;
        }
    }

    .menu-wrapper{
        @include mq($until: 'site-header') {
            display: none;
        }
    }

    .menu-wrapper .menu-list{
        gap: 10px!important;
    }

    .menu-wrapper .menu-item:nth-child(1):after,
    .menu-wrapper .menu-item:nth-child(2):after {
        content: ''; 
        display: inline-block; 
        border-right: 1px solid #BEBEBE;
        height: 100%; 
        margin-left: 10px; 
    }

    .menu-wrapper .menu-item:nth-child(3)::before{
        content: '';
        display: inline-block;
        background-image: url('/wp-content/themes/reach/_src/images/contact.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }

    
}
